<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Harka</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<header id="main-header-about"></header>


<section class="section glass about">
  <h1 id="about-name"></h1>
  <h3 id="about-title"></h3>
  <p id="about-summary"></p>

  <div class="about-info">
    <p><i class="fa fa-location-dot"></i> <span id="about-location"></span></p>
    <p><i class="fa fa-envelope"></i> <span id="about-email"></span></p>
  </div>

  <h2><i class="fa fa-code"></i> Skills</h2>
  <ul id="skills" class="skills-grid"></ul>

  <h2><i class="fa fa-briefcase"></i> Experience</h2>
  <div id="experience" class="cards"></div>

  <h2><i class="fa fa-graduation-cap"></i> Education</h2>
  <div id="education" class="cards"></div>

  
<a id="download-cv" href="#" class="btn primary hero-btn">
  <i class="fa fa-download"></i> Download CV
</a>

</section>



<footer id="main-footer"></footer>

<script src="/static/js/layout.js"></script>
<script src="/static/js/about.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
