<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Harka | Learning Journal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<script src="{{ url_for('static', filename='sw.js') }}"></script>
<link rel="icon" href="/static/images/journal.png" type="image/png">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>

<body>

<header id="main-header"></header>
<section id="home" class="hero section">
  <img src="/static/images/myphoto.JPG" class="hero-photo">

  <h1>Harka</h1>
  <p>Learning · Creativity · Reflection</p>

  <p class="hero-desc">
    I am a passionate learner focused on modern web development, clean UI,
    and meaningful digital experiences.
  </p>

  <!-- NEW BUTTON -->
  <a href="/about" class="hero-btn">
    <i class="fa fa-user"></i>
    More About Me
  </a>
</section>

<!-- 
<section id="about" class="section">
  <h2>About Me</h2>
  <p>
    I am a passionate learner focused on modern web development, clean UI,
    and meaningful digital experiences.
  </p>
</section> -->
<section id="projects" class="section">
  <h2>Projects</h2>
  <div class="carousel-wrapper">
    <button class="nav-btn left">&#10094;</button>
    <div class="carousel" id="projects-carousel">
  <!-- Projects will be loaded dynamically from JSON -->
</div>

    <button class="nav-btn right">&#10095;</button>
  </div>
  <span class="slide-note">
    <i class="fa fa-arrow-left"></i> Slide to see more <i class="fa fa-arrow-right"></i>
  </span>
</section>


<section id="journal" class="section">
  <h2>Weekly Journal</h2>
<div class="carousel-wrapper">
  <button class="nav-btn left">&#10094;</button>
  <div class="carousel" id="journal-cards">
    
  </div>
  <button class="nav-btn right">&#10095;</button>
</div>
<span class="slide-note">
  <i class="fa fa-arrow-left"></i> Slide to see more<i class="fa fa-arrow-right"></i>
</span>
</section>

<section id="reflections" class="section">
  <h2>Reflections</h2>

  <div class="carousel-wrapper">
  <button class="nav-btn left">&#10094;</button>

  <div class="carousel" id="reflection-cards">
    
  </div>
  <button class="nav-btn right">&#10095;</button>
</div>
<span class="slide-note">
  <i class="fa fa-arrow-left"></i> Slide to see more<i class="fa fa-arrow-right"></i>
</span>
</section>

<!-- 
<section id="zensnake" class="section">
  <h2>Zen Snake</h2>
  <p>Relaxing mini-game focused on calm gameplay.</p>
</section> -->
<div class="modal hidden" id="modal">
  <div class="modal-content glass">
    <button class="modal-close">&times;</button>
    <div id="modal-body"></div>
  </div>
</div>






<footer id="main-footer"></footer>

<script src="/static/js/main.js"></script>
</body>
</html>
