{% extends "base.html" %}
{% block title %}Harka | Projects{% endblock %}

{% block content %}
<section class="projects">
  <h2>Projects Portfolio</h2>
  <div class="projects-grid">
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/project1.jpg') }}" alt="Project 1">
      <h3>Project 1</h3>
      <p>Short description of the project, features, and learning.</p>
    </div>
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/BloodinNeed.png') }}" alt="Project 2">
      <h3>Blood in Need</h3>
      <p>A web app to locate nearby blood banks and hospitals quickly.</p>
    </div>
  </div>
</section>
{% endblock %}
